.mainEditUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  background-color: rgb(247, 247, 247);
  height: 100vh;

  .userOrderBtn {
    background-color: #7dc50f;
    color: white;
    width: 200px;
    height: 50px;
    margin: 10px;

    &:hover {
      color: white;
      background-color: #9ee92d;
      filter: drop-shadow(0 0 7px #8aff94);

      -webkit-transition: all 0.3s ease;
      ;
      -moz-transition: all 0.3s ease;
      ;
      -o-transition: all 0.3s ease;
      ;
      transition: all 0.3s ease;
    }

    &:focus {
      background-color: #9ee92d;
    }
  }

  .userEditCard {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    filter: drop-shadow(0 0 5px #7c7c7c);

    .tableEditUser {
      display: flex;
      padding: 10px;
      margin-top: 30px;
      font-size: 18px;
      align-items: center;

      .pictureEdit {
        width: 250px;
        margin-right: 20px;
        border-radius: 10px;
      }
    }

    .tableOnly {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .trEditUser {
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: rgb(238, 238, 238);
        width: 100%;
        padding: 5px;
        border-radius: 3px;

        .inputEditUser {
          border: 1px solid rgb(218, 218, 218);

          &:hover {
            filter: drop-shadow(0 0 2px #21ff3f);

            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
          }

          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}
.show {
  display: block;
}

.hide {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background: #290838d3;
  transition: opacity 0.2s ease;
}

.modal {
  z-index: -1000;
  width: 500px;
  height: 270px;
  margin-left: 500px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 5px ridge rgb(98, 58, 192);
  border-radius: 10px;
  transform: translateY(100%);
  transition: transform 0.2s ease;
  box-shadow: 0 2px 8px 3px;
  font-family: Helvetica, Arial, sans-serif;
  position: absolute;
  justify-content: center;
  align-items: center;
  background-color: #fefefe92;
}


.btn {
  padding: 10px ;
  margin: 10px;
  margin-bottom: 20px;
  background-color: #ffa4ce;
  color: #fdecff;
  border: 2px solid rgb(255, 211, 251);
  border-radius: 5px;
  filter: drop-shadow(0 0 10px #ffd2e7);
  
}

.btnPoints {
  width: 150px;
  height: 100px;
  padding: 10px ;
  margin: 10px;
  margin-bottom: 20px;
  background-color: #ffa4ce;
  color: #fdecff;
  border: 2px solid rgb(255, 211, 251);
  border-radius: 5px;
  filter: drop-shadow(0 0 10px #ffd2e7);
}



