.mainEditUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  background-color: rgb(247, 247, 247);
  height: 100vh;

  .userOrderBtn {
    background-color: #7dc50f;
    color: white;
    width: 200px;
    height: 50px;
    margin: 10px;

    &:hover {
      color: white;
      background-color: #9ee92d;
      filter: drop-shadow(0 0 7px #8aff94);

      -webkit-transition: all 0.3s ease;
      ;
      -moz-transition: all 0.3s ease;
      ;
      -o-transition: all 0.3s ease;
      ;
      transition: all 0.3s ease;
    }

    &:focus {
      background-color: #9ee92d;
    }
  }

  .userEditCard {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    filter: drop-shadow(0 0 5px #7c7c7c);

    .tableEditUser {
      display: flex;
      padding: 10px;
      margin-top: 30px;
      font-size: 18px;
      align-items: center;

      .pictureEdit {
        width: 250px;
        margin-right: 20px;
        border-radius: 10px;
      }
    }

    .tableOnly {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .trEditUser {
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: rgb(238, 238, 238);
        width: 100%;
        padding: 5px;
        border-radius: 3px;

        .inputEditUser {
          border: 1px solid rgb(218, 218, 218);

          &:hover {
            filter: drop-shadow(0 0 2px #21ff3f);

            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
          }

          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}
