.form {
display: flex;
justify-content: center;
align-items: center;
margin-top: 100px;
flex-direction: column;
}

.masterAccount {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 100px;
  flex-direction: column;
}

.img {
  width: 220px;
  height: 220px;
  margin-right: 30px;
  
}

.name {
  display: flex;
}

.login {
  display: flex;
  flex-direction: column;
}

.profile {
  display: flex;
  justify-content: center;
 align-items: center;
 flex-direction: column;
 /* margin-top: 50px; */
}

span {
  font-weight: bold;
  margin-right: 10px;
}

.span {
  font-weight: bold;
}
.description {
  width: 300px;
}

td {
  text-align: start;
}

.margin {
  margin-bottom: 20px;
}

.one {
  width: 150px;
}

.btn {
  border-radius: 5px;
  border-color: rgba(0, 255, 30, 0.632);
  background-color: rgb(102, 216, 144);
  margin-right: 20px;
}

.two {
  width: 300px;
}

.link {
  margin-bottom: 50px;
}

.reviews {
  display: flex;
  margin-bottom: 10px;
  border: rgb(210, 192, 192) solid 1px;
  border-radius: 5px;
}
.text {
  display: flex;
  flex-direction: column;
  width: 600px;
 text-align: start;
 margin-left: 20px;
}
