.form {
display: flex;
justify-content: center;
align-items: center;
margin-top: 100px;
flex-direction: column;
}

.masterAccount {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 100px;
  flex-direction: column;
}

.img {
  width: 220px;
  height: 220px;
  margin-right: 30px;
  border-radius: 5px;
  
}

.name {
  display: flex;
}

.login {
  display: flex;
  flex-direction: column;
}

.profile {
  display: flex;
  justify-content: center;
 align-items: center;
 flex-direction: column;
 /* margin-top: 50px; */
}

span {
  font-weight: bold;
  margin-right: 10px;
}

.span {
  font-weight: bold;
}
.description {
  width: 300px;
}

td {
  text-align: start;
}

.margin {
  margin-bottom: 20px;
}

.one {
  width: 150px;
}

.btn {
  border-radius: 5px;
  border-color: rgba(0, 255, 30, 0.632);
  background-color: rgb(102, 216, 144);
  margin-right: 20px;
}

.two {
  width: 300px;
}

.link {
  margin-bottom: 50px;
}

.reviews {
  display: flex;
  margin-bottom: 10px;
  border: rgb(210, 192, 192) solid 1px;
  border-radius: 5px;
}
.text {
  display: flex;
  flex-direction: column;
  width: 600px;
 text-align: start;
 margin-left: 20px;
}

.orderCard {
  width: 400px;
  height: 200px;
  border: gray solid 1px;
  margin-bottom: 15px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 10px -7px #38635d, 5px 5px 26px 5px #38635d; 
box-shadow: 0px 10px 13px -7px #38635d, 5px 5px 26px 5px #38635d;
display: flex;
flex-direction: column;
justify-content: center;
background-color: rgb(250, 248, 238);
}

.status {
  border: rgb(177, 96, 109) solid 1px;
  width: 200px;
  border-radius:10px ;
  background-color: pink;
}

.orderInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reviewsCard {
  width: 600px;
  height: 130px;
  border: gray solid 1px;
  margin-bottom: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 10px -7px #38635d, 5px 5px 26px 5px #38635d; 
  box-shadow: 0px 10px 13px -7px #38635d, 5px 5px 26px 5px #38635d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.css.chooseStatus {
  display: flex;
}
 
.accepted {
  border: rgb(49, 131, 41) solid 1px;
  width: 100px;
  border-radius:10px ;
  background-color: rgb(197, 255, 192);
  margin-right: 10px;
}

.declined {
  border: rgb(117, 62, 172) solid 1px;
  width: 100px;
  border-radius:10px ;
  background-color: rgb(166, 124, 208);
  margin-right: 10px;
}

.fullfilled {
  border: rgb(147, 147, 41) solid 1px;
  width: 100px;
  border-radius:10px ;
  background-color: rgb(237, 237, 144);
}

.cancel {
  border: rgb(196, 9, 174) solid 1px;
  width: 100px;
  border-radius:10px ;
  background-color: rgb(233, 127, 238);
}

.cancelOrder {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: crimson;
  color: aliceblue;
  width: 200px;
  border-radius: 10px;
  height: 25px;
}

/* img{
border-radius: 5px;
} */
