.allCategoriesDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 40px;

  .allCategoriesHead {
    font-size: 32px;
    margin-bottom: 30px;
  }

  .categoryList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 90px;
    max-width: 1400px;
 

    .oneCategory {
      margin: 5px;
      width: 190px;
      font-size: 20px;
      padding: 7px;
      border-radius: 10px;
    

      &:hover {
        cursor: pointer;
        color: white;
        background-color: #b3b8ff;
       
        filter: drop-shadow(0 0 7px #cfd2ff);

        -webkit-transition: all 0.3s ease;
        ;
        -moz-transition: all 0.3s ease;
        ;
        -o-transition: all 0.3s ease;
        ;
        transition: all 0.3s ease;
      }
    }
  }
}
