.mainDiv {
  // text-align: center;
  margin-top: 26px;
  overflow: hidden;

  .mainForm {
    z-index: 2;
    position: absolute;
    top: 480px;
    display: flex;
    

    .mainInput {
      font-size: 23px;
      padding-left: 20px;

      &:hover {
        filter: drop-shadow(0 0 9px #4aff59);

        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
    }

    .btnSearch {
      font-size: 25px;
      background-color: #7dc50f;
      color: white;
      width: 600px;
      height: 70px;

      &:hover {
        color: white;
        background-color: #8be700;
        filter: drop-shadow(0 0 7px #8aff94);

        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
    }
  }

  .prompt {
    z-index: 13;
    background-color: rgb(151, 151, 151);
    position: absolute;
    top: 70px;
    right: 370px;
    width: 538px;

    &:hover {
      cursor: pointer;
    }

    .onePrompt {
      text-align: center;
      padding-left: 25px;
      padding-bottom: 3px;
      padding-top: 3px;
      color: rgb(228, 228, 228);

      &:hover {
        color: white;
        background-color: #8be700;
        filter: drop-shadow(0 0 7px #8aff94);

        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
    }

    .noPrompt {
      background-color: rgb(230, 100, 100);
      padding-left: 25px;
      padding-bottom: 7px;
      padding-top: 7px;
      color: rgb(240, 240, 240);
      &:hover {
        cursor: not-allowed;
        color: white;
        background-color: rgb(255, 153, 153);
        filter: drop-shadow(0 0 7px rgb(255, 79, 79));

        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
    }
  }
  .review {
    display: flex;
    justify-content: space-between;
    span {
      display: flex;
      flex-direction: row;
      height: 200px;
      width: 350px;
      div {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
