.headerMain {
  position: fixed;
  top: 0;
  width: 100%;
  height: 55px;
  z-index: 10;
  filter: drop-shadow(0 0 7px #4aff59bd);
  -webkit-transition: all 0.3s ease;
  ;
  -moz-transition: all 0.3s ease;
  ;
  -o-transition: all 0.3s ease;
  ;
  transition: all 0.3s ease;
  display: flex;

  .navLink {
    
    .flag {
      position: absolute;
      width: 155px;
      height: 55px;
      top: 0;
      left: 0;
      z-index: -5;
    }
    
    .pals {
      filter: drop-shadow(0 0 2px #ff9100);
      color: #fffbc7;
      font-weight: bold;

      &:hover {
        color: #ffffff;
        filter: drop-shadow(0 0 5px #fffd84);
  
        -webkit-transition: all 0.3s ease;
        ;
        -moz-transition: all 0.3s ease;
        ;
        -o-transition: all 0.3s ease;
        ;
        transition: all 0.3s ease;
      }
    }
  }

  .show {
    filter: drop-shadow(0 0 3px #0003b4);
    color: #fff4b7;  
    
    &:hover {
      color: #0004ff;
      filter: drop-shadow(0 0 7px #15ff00);

      -webkit-transition: all 0.3s ease;
      ;
      -moz-transition: all 0.3s ease;
      ;
      -o-transition: all 0.3s ease;
      ;
      transition: all 0.3s ease;
    }
  }

  .loginBtn {
    background-color: #7dc50f;
    color: white;
    margin-right: 20px;
    width: 157px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    margin-top: 0;

    &:hover {
      color: #72be00;
      background-color: white;
      filter: drop-shadow(0 0 7px #8aff94);

      -webkit-transition: all 0.3s ease;
      ;
      -moz-transition: all 0.3s ease;
      ;
      -o-transition: all 0.3s ease;
      ;
      transition: all 0.3s ease;
    }
  }

  .signupBtnMain {
    background-color: #4f52ff;
    color: white;
    margin-right: 20px;
    width: 157px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    margin-top: 0;

    &:hover {
      color: #7d7fff;
      background-color: white;
      filter: drop-shadow(0 0 7px #b4b9ff);

      -webkit-transition: all 0.3s ease;
      ;
      -moz-transition: all 0.3s ease;
      ;
      -o-transition: all 0.3s ease;
      ;
      transition: all 0.3s ease;
    }
  }

  .logouBtn {
    background-color: #ff5e5e;
    color: white;
    margin-right: 20px;
    width: 157px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    margin-top: 0;

    &:hover {
      color: #ff5e5e;
      background-color: white;
      filter: drop-shadow(0 0 7px #ff9b9b);

      -webkit-transition: all 0.3s ease;
      ;
      -moz-transition: all 0.3s ease;
      ;
      -o-transition: all 0.3s ease;
      ;
      transition: all 0.3s ease;
    }
  }

  .signDrop {
    &:hover {
      color: #4f52ff;
      background-color: white;
      filter: drop-shadow(0 0 7px #b4b9ff);

      -webkit-transition: all 0.3s ease;
      ;
      -moz-transition: all 0.3s ease;
      ;
      -o-transition: all 0.3s ease;
      ;
      transition: all 0.3s ease;
    }
  }

  .loginDrop {
    &:hover {
      color: #72be00;
      background-color: white;
      filter: drop-shadow(0 0 7px #8aff94);

      -webkit-transition: all 0.3s ease;
      ;
      -moz-transition: all 0.3s ease;
      ;
      -o-transition: all 0.3s ease;
      ;
      transition: all 0.3s ease;
    }
  }
}
