.reviews {
  padding-bottom: 70px;
  background-color: rgb(221, 221, 221);
  width: 100%;
  
  .title {
    font-size: 32px;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  
  .reviewsBody {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .rev {
      width: 300px;
      display: flex;
      background-color: rgb(255, 255, 255);
      height: 160px;
      border-radius: 10px;
      filter: drop-shadow(0 0 7px #b3b3b3);
      margin: 10px;

      img {
        width: 100px;
        height: 100px;
        
      }

      .name {
        font-size: 14px;
        font-weight: bold;
        margin: 3px;  
        word-wrap:break-word
      }

      .text {       
        font-size: 14px;
        margin-left: 3px;
        word-wrap:break-word
      }
    }
  }
}
