.reviews {
  padding-bottom: 70px;
  background-color: rgb(221, 221, 221);
  width: 100%;

  .title {
    font-size: 32px;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .reviewsBody {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .rev {
      width: 400px;
      display: flex;
      background-color: rgb(255, 255, 255);
      height: 200px;
      border-radius: 10px;
      filter: drop-shadow(0 0 7px #b3b3b3);
      margin: 10px;

      img {
        width: 200px;
        height: 200px;
        margin-bottom: 30px;
      }

      .name {
        font-size: 18px;
        font-weight: bold;
        margin: 5px;  
        word-wrap:break-word
      }

      .text {       
        font-size: 14px;
        margin-left: 5px;
        word-wrap:break-word
      }
    }
  }
}
