.idMasterDiv {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  

  .masterPicture {
    width: 250px;
    border-radius: 250px;
    // position: absolute;
    // z-index: 2;
    top: 80px;
    left: 420px;
    border: 8px solid #a3f0aa;
  }

  .idHead {
    width: 750px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 700px;
    margin-right: 310px;

    .nameAndJob {
      display: flex;
      flex-direction: column;
      margin-left: 10px;

      .name {
        font-size: 30px;
        margin-right: 50px;
        font-weight: bold;
        color: #4f52ff;
      }

      .job {
        margin-top: 0px;
        font-size: 24px;
      }
    }

    .ratingAndExperience {
      display: flex;
      margin-top: 10px;
      font-size: 14px;

      .rating {
        margin-right: 20px;
      }
    }

    .buttons {
      display: flex;
      flex-direction: column;

      .contactBtn {
        font-size: 25px;
        background-color: #7dc50f;
        color: white;
        width: 400px;
        height: 65px;
    
        &:hover {
          color: white;
          background-color: #a5df4e;
          filter: drop-shadow(0 0 7px #88ca24);
    
          -webkit-transition: all 0.3s ease;
          ;
          -moz-transition: all 0.3s ease;
          ;
          -o-transition: all 0.3s ease;
          ;
          transition: all 0.3s ease;
        }
      }

      .reviewBtn {
        font-size: 25px;
        background-color: #4f52ff;
        color: white;
        width: 400px;
        height: 65px;
        margin-top: 20px;
    
        &:hover {
          color: white;
          background-color: #888aff;
          filter: drop-shadow(0 0 7px #8c8eff);
    
          -webkit-transition: all 0.3s ease;
          ;
          -moz-transition: all 0.3s ease;
          ;
          -o-transition: all 0.3s ease;
          ;
          transition: all 0.3s ease;
        }
      }
    }
  }
  
  .idBody {
    display: flex;
    justify-content: center;
    background-color: rgb(235, 235, 235);
    width: 100%;
    filter: drop-shadow(0 0 7px #0fc51e);
    font-size: 20px;
    padding-left: 400px;
    padding-right: 390px;

    .leftDiv {
      display: flex;
      flex-direction: column;
      max-width: 800px;

      .leftSide { 
        padding-top: 20px;
        display: flex;
        width: 720px;
        // height: 73vh;
  
        .info {
          margin-top: 5px;
          margin-left: 80px;
          color: rgb(83, 83, 83);
        }
  
        .description {
          color: rgb(128, 128, 128);
          width: 450px;
          margin-left: 60px;
        }
      }

      .reviewsTitle {
        color: rgb(47, 47, 173);
        margin-top: 30px;
        margin-left: 80px;
      }

      .masterReviews {
        margin-top: 20px;
        max-width: 770px;
        display: flex;
        flex-wrap: wrap;

        .oneReviewMaster {
          background-color: rgb(255, 255, 255);
          padding: 5px;
          margin: 10px;
          font-size: 14px;
          max-width: 215px;
          display: flex;
          flex-direction: column;
          border-radius: 10px;
          filter: drop-shadow(0 0 7px #afafaf);

          .nameText {
            display: flex;

            .authorName {
              font-weight: bold;
              overflow-wrap: anywhere;
              margin-left: 3px;
            }
  
            .authorPicture {
              width: 100px;
              height: 100px;
            }
          }

        }
      }
    }


    .location {
      width: 425px;
      height: 620px;
      background-color: snow;
      display: flex;
      flex-direction: column;
      padding-top: 30px;  
      font-size: 18px;

      .city {
        color: green;
        font-size: 20px;
      }
      .contacts {
        margin-bottom: 5px;
      }

      .ymaps {
        display: flex;
        justify-content: center;
    
        .map {
          width: 325px;
          height: 325px;
        }
      }

      .links {
        display: flex;
        flex-direction: column;
        margin-left: 33px;
        margin-right: 33px;
        margin-top: 10px;
      }
    }

    .masterReviews {
      display: flex;
      
      max-width: 300px;
    }
  }

  hr {
    width: 100%;
  }
}
