.all {
  background-color: rgb(202, 202, 202);
  width: 100%;
  height: 100vh;

  .forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 140px;

    .signAndAbout {
      display: flex;

      .sign {
        margin-right: 5px;
      }

      .about {
        margin-left: 5px;
      }
    }

    .city {
      display: flex;
      margin-top: 20px;
    }

    .inputsLog {
      margin-bottom: 15px;
      font-size: 23px;
      padding-left: 20px;
      max-width: 400px;

      &:hover {
        filter: drop-shadow(0 0 5px #00ff22);

        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
    }
  }
}

.error {
  height: 30px;
  color: rgb(255, 88, 88);
  font-size: 20px;
}

.loginButton {
  background-color: #7dc50f;
  color: white;
  width: 200px;
  height: 50px;
  margin-top: 10px;

  &:hover {
    color: white;
    background-color: #9ee92d;
    filter: drop-shadow(0 0 7px #8aff94);

    -webkit-transition: all 0.3s ease;
    ;
    -moz-transition: all 0.3s ease;
    ;
    -o-transition: all 0.3s ease;
    ;
    transition: all 0.3s ease;
  }
}
