.maindiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(233, 233, 233);

  .mastersDiv {
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40%;

    span {
      margin-top: 80px;
      margin-bottom: 40px;
      font-size: 40px;
      color: rgb(46, 76, 211);
    }

    .selects {
      display: flex;

      p {
        color: rgb(82, 82, 82);
        margin-left: 20px;
        margin-bottom: 5px;
      }

      .selectone {
        height: 50px;
        width: 250px;
        background-color: rgb(252, 255, 251);
        color: rgb(136, 136, 136);
        margin-left: 20px;
        margin-right: 20px;

        &:hover {
          cursor: pointer;
          filter: drop-shadow(0 0 5px #4aff59);

          -webkit-transition: all 0.3s ease;
          ;
          -moz-transition: all 0.3s ease;
          ;
          -o-transition: all 0.3s ease;
          ;
          transition: all 0.3s ease;
        }
      }
    }

    .cards {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly
    }


    .btnFind {
      margin-top: 40px;
      margin-bottom: 20px;
      background-color: #4f52ff;
      color: white;
      width: 540px;
      height: 50px;
      border: none;
      border-radius: 5px;

      &:hover {
        color: white;
        background-color: #7780ff;
        filter: drop-shadow(0 0 7px #85d8ff);

        -webkit-transition: all 0.3s ease;
        ;
        -moz-transition: all 0.3s ease;
        ;
        -o-transition: all 0.3s ease;
        ;
        transition: all 0.3s ease;
      }
    }
  }

  .ymaps {
    display: flex;
    width: 60%;
    position: fixed;
    top: 0;
    right: 0;

    .map {
      width: 100%;
      height: 100vh;

      .show {
        display: block;
      }
      
      .hide {
        display: none;
      }
      
      .overlayMap {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: #290838d3;
        transition: opacity 0.2s ease;
        display: flex;
        justify-content: center;
      
        .modalMap {
          width: 300px;
          height: 350px;
          display: flex;
          flex-direction: column;
          padding: 20px;
          border: 2px solid rgb(224, 224, 224);
          border-radius: 10px;
          transform: translateY(100%);
          transition: transform 0.2s ease;
          box-shadow: 0 2px 8px 3px;
          font-family: Helvetica, Arial, sans-serif;
      
          justify-content: center;
          align-items: center;
          background-color: #fefefe92;

          &:hover {
            filter: drop-shadow(0 0 9px #2b5f77);
    
            -webkit-transition: all 0.3s ease;
            ;
            -moz-transition: all 0.3s ease;
            ;
            -o-transition: all 0.3s ease;
            ;
            transition: all 0.3s ease;
          }
      
          .nameAndCategoryModal {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 18px;

            .nameModal {
              color: rgb(36, 46, 187);
              font-weight: bold;
              margin: 0px;

              &:hover {
                color: #a9e4ff;
                filter: drop-shadow(0 0 9px #85d8ff);
        
                -webkit-transition: all 0.3s ease;
                ;
                -moz-transition: all 0.3s ease;
                ;
                -o-transition: all 0.3s ease;
                ;
                transition: all 0.3s ease;
              }
            }

            .categoryModal {
              margin-bottom: 7px;
              color: rgb(36, 46, 187);

              &:hover {
                color: #a9e4ff;
                filter: drop-shadow(0 0 9px #85d8ff);
        
                -webkit-transition: all 0.3s ease;
                ;
                -moz-transition: all 0.3s ease;
                ;
                -o-transition: all 0.3s ease;
                ;
                transition: all 0.3s ease;
              }
            }
          }

          .modalImgMap {
            width: 200px;

            &:hover {
              color: #a9e4ff;
              background-color: #a79eff;
              filter: drop-shadow(0 0 9px #85d8ff);
      
              -webkit-transition: all 0.3s ease;
              ;
              -moz-transition: all 0.3s ease;
              ;
              -o-transition: all 0.3s ease;
              ;
              transition: all 0.3s ease;
            }
          }

          .modalBtn {
            background-color: #5c66ff;
            width: 200px;
            color: aliceblue;

            &:hover {
              color: #a9e4ff;
              background-color: #a79eff;
              filter: drop-shadow(0 0 7px #85d8ff);
      
              -webkit-transition: all 0.3s ease;
              ;
              -moz-transition: all 0.3s ease;
              ;
              -o-transition: all 0.3s ease;
              ;
              transition: all 0.3s ease;
            }
          }
        }
    }
  }
}


}
