.maindiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(233, 233, 233);

  .mastersDiv {
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40%;

    span {
      margin-top: 80px;
      margin-bottom: 40px;
      font-size: 40px;
      color: rgb(46, 76, 211);
    }

    .selects {
      display: flex;

      p {
        color: rgb(82, 82, 82);
        margin-left: 20px;
        margin-bottom: 5px;
      }

      .selectone {
        height: 50px;
        width: 250px;
        background-color: rgb(252, 255, 251);
        color: rgb(136, 136, 136);
        margin-left: 20px;
        margin-right: 20px;

        &:hover {
          cursor: pointer;
          filter: drop-shadow(0 0 5px #4aff59);

          -webkit-transition: all 0.3s ease;
          ;
          -moz-transition: all 0.3s ease;
          ;
          -o-transition: all 0.3s ease;
          ;
          transition: all 0.3s ease;
        }
      }
    }

    .cards {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly
    }


    .btnFind {
      margin-top: 40px;
      margin-bottom: 20px;
      background-color: #4f52ff;
      color: white;
      width: 540px;
      height: 50px;
      border: none;
      border-radius: 5px;

      &:hover {
        color: white;
        background-color: #7780ff;
        filter: drop-shadow(0 0 7px #85d8ff);

        -webkit-transition: all 0.3s ease;
        ;
        -moz-transition: all 0.3s ease;
        ;
        -o-transition: all 0.3s ease;
        ;
        transition: all 0.3s ease;
      }
    }
  }

  .ymaps {
    display: flex;
    width: 60%;
    position: fixed;
    top: 0;
    right: 0;

    .map {
      width: 100%;
      height: 100vh;
    }
  }
}

.show {
  display: block;
}

.hide {
  display: none;
}

.overlay {
  // position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background: #290838d3;
  transition: opacity 0.2s ease;
}

.modal {
  z-index: -1000;
  width: 500px;
  height: 270px;
  margin-left: 500px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 5px ridge rgb(98, 58, 192);
  border-radius: 10px;
  transform: translateY(100%);
  transition: transform 0.2s ease;
  box-shadow: 0 2px 8px 3px;
  font-family: Helvetica, Arial, sans-serif;
  position: absolute;
  justify-content: center;
  align-items: center;
  background-color: #fefefe92;
}